html
{
    font-family: sans-serif;
    font-size: larger;
}

body{
    margin:5px;
    background:rgb(175, 174, 174);
}

h1{
    color:chartreuse;
    text-align: center;
}

p{
    text-align: center;
    color:crimson;
}

button{
    font: inherit;
    background: #5102ac;
    border: 1px solid #5102ac;
    color: white;
    cursor: pointer;
    padding: 0.7rem 1.6rem;
    font-size: 1.5rem;
    margin-top: 5px;
}

button:focus{
    outline: none;
}

button:hover, button:active{
    background-color: #832EE4;
    background-color: #832EE4;
}


.div{
    border: 2PX solid#CCC;
    margin: 1rem;
    padding: 1rem;
    padding-left: 40%;
}



#data{
    border: 3px solid black;
    border-radius: 22px;
    margin-top: 50px;
    padding:40px
}